// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.marginBottom {
  margin-bottom: 30px;
}

#photoInfo {
  background-color: #EFEAEF;
}

#socialMedia {
  background-color: #EFEAEF;
}

#bio {
  background-color: #EFEAEF;
}

#skills {
  background-color: #EFEAEF;
}

#experiences {
  background-color: #EFEAEF;
}

#educations {
  background-color: #EFEAEF;
}