<div class="container">
  <h1>Quarterlife Crisis Online</h1>

  <h3>All your resumes are belong to us.</h3>
  <% @resumes.each do |resume| %>
    <hr>
    <%= link_to resume.first_name + " " + resume.last_name, "/resumes/#{resume.id}" %>
  <% end %>
</div>
